<!-- <div class="container">
    <div class="conatiner">
  </div>
    <div class="row d-flex justify-content-center text-center" style="margin-top:50px ;">
      <div class="card" style="width: 20%;  margin-bottom: 30px;">
        <div class="card-body" > 
          <img class="card-img-top" src="https://i.postimg.cc/Kv47DNxM/17620247-1802993346694629-1008571875479993417-o.jpg" alt="Card image cap">
            <label for="uname" class="d-flex  justify-content-center"style="font-size:20px" ><b>thyf</b></label>
            <div>
                <label class="d-flex  justify-content-center" for="uname"><b>ffhgd</b></label>
            </div>                           
        </div>
        <div class=" container d-flex">
            <div class="update-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </div>
            <div class="delete-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-trash3-fill text-danger" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
              </svg>
            </div>
      </div>
  </div> -->
  <!-- <div class="container">
    <div class="card" style="width: 320px;">
      <img src="https://i.postimg.cc/Kv47DNxM/17620247-1802993346694629-1008571875479993417-o.jpg" alt="">
      <div class="body text-center">
        <div class="card-title" style="padding: 3px; margin:3px ;">thualne</div>
        <div class="card-title">R 20</div>
      </div>
      <div>
        <div class="pull-left" style="display:flex ; justify-content:start ;">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3-fill text-danger" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
          </svg>
        </div>
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  s fill="currentColor" class="bi bi-trash3-fill pull-right" viewBox="0 0 16 16">
        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
      </svg>
       
     
      <div  style="display:flex ; justify-content:start ;">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-trash3-fill text-danger" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
          </svg>
        </div> -->
    <!-- </div>
  </div>
   -->

<div class="container">
  <div class="container" *ngIf="!submitted; else block">
    <div class="card">
      <form class="card" name="form" (ngSubmit)="f.form.valid && postProduct()" #f="ngForm" novalidate>
        <div class="container">
            <label for="nameOfMeal"><b>Name of Meal</b></label>
        <input type="text" placeholder="Enter Meal"   name="nameOfMeal" [(ngModel)]="product.title"  #title="ngModel" required>
        </div> 
        <div class="container">
            <label for="image"><b>Image</b></label>
            <input type="text" name="image" [(ngModel)]="product.image"  #title="ngModel" placeholder="https://example.of.any.image.jpeg" required>
        </div> 
        <div class="container">
            <label for="image"><b>Category</b></label>
            <input type="text" name="category" [(ngModel)]="product.category"  #title="ngModel" placeholder="Enter category" required>
        </div>
        <div class="container">
            <label for="Price"><b>Price</b></label>
            <input type="text" placeholder="Enter Price" name="Price"  [(ngModel)]="product.price"  #title="ngModel" required>
        </div>     
        <button type="submit">ADD</button>
      </form>
    </div>
  </div>
  <ng-template #block>
    <div class="text-success">
        <h4>Your product was successfully added</h4>
        <a href="" class="btn btn-primary" (click)="submitted = false">add another product</a>
        <a class="btn btn-dark"routerLink="/shop-details/{{user.id}}">go to menu</a>
    </div>
  </ng-template>
  </div>
  
    