<div class="container" >
    <!-- <div class="row d-flex">
        <div class="col-small-4 card-product " >
            <div class="d-flex" >
                
                <div class="card-body"> 
                    <div class="title">
                        <label for="uname" class="title-product"  ><b></b></label> 
                    </div>
                    <div class="price">
                        <label for="uname"  class="price-product">
                            <b>{{product.price}}</b>
                            <small>
                                <div class="delete-icon" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash3 text-danger" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>
                                </div>
                            </small>
                            
                        </label> 
                    </div>
                </div>
                <img class="card-img-product"[src]="product.image"  alt="This is {{product.username}}'s product">                                        
            </div>
          </div> 

          <button class="btn btn-danger">Clear Cart</button>
    </div> -->
    <div class="body" >
        <div class="Cart-Container"  >
            <div class="Header">
                <h3 class="Heading">Shopping Cart</h3>
                <h3 class="Action" (click)="deleteAll()"> Remove All</h3>
            </div>
            <div class="container" *ngFor="let product of cart">
                    <div class="Cart-Items">
                        <div class="image-box">
                         <img class="img-product " [src]="product.image"  alt="This is {{product.username}}'s product"  />
                        </div>
                        <div class="about">
                          <p class="title px-2"><b>{{ product.title }}</b></p>
                          <p ><b>R{{product.price}}</b></p>
                        </div>
                        
                        <div class="remove" (click)="deleteItem(product)"><u>Remove</u></div>
                    </div>
                    <hr>
                
            </div>
          
            <div class="checkout">
                <div class="total">
                 <div>
                  <p class="Subtotal">Sub-Total</p>
                 </div>
                  <div class="total-amount">R{{total}}</div>
                </div>
                  <button class="button">Checkout</button>
            </div> 
        </div> 
    </div>