<div class="bg-light  w-100" style="height: 900px;">
  <div class="container text-center h-30 d-flex align-items-center text-center w-10">
    <div class="w-100">
      <h2>Welcome !</h2>
      <p >Let give the people the kasi taste and feeling !!!</p>
    </div>
  </div>
  <div class="container pt-5 ps-3 h-60 w-100 bg-white border-r">
    <h1>Create an account</h1>
    <p class="text-secondary">Start right now with us</p>
    <div class="form-group bmd-form-group mt-4">
      <label class="bmd-label-static mb-2 ps-1">Username</label>
      <input type="text" class="form-control" placeholder="Your username here"  [(ngModel)]="form.username">
    </div>
    <div class="form-group bmd-form-group mt-4">
      <label class="bmd-label-static mb-2 ps-1">Email</label>
      <input type="text" class="form-control" placeholder="Your username here"  [(ngModel)]="form.email">
    </div>
    <div class="form-group bmd-form-group mt-4 mb-2">
      <label class="bmd-label-static mb-2 ps-1">Password</label>
      <input type="password" class="form-control" placeholder="Your username here"  [(ngModel)]="form.password">
    </div>
    <button class="btn bg-secondary w-100 mt-5 text-white bold-text" type="submit" (click)="onSubmit()">
      Sign in
    </button>
    <div class="d-flex justify-content-between mt-4">
      <p class="mt-2 ps-1  mb-0">Don't have account an account ?</p>
      <div class="btn border" routerLink="/login">
        Sign up
      </div>
    </div>
  </div>
</div>

   