<div class="container">
  <div class="conatiner">
      <img class="img-logo"  style="border-radius: 50%; width: 90px;" src="https://i.postimg.cc/Kv47DNxM/17620247-1802993346694629-1008571875479993417-o.jpg" alt="">   
  </div>
<div class="container d-flex justify-content-center">
  <div class="card d-flex justify-content-center" style="width: 500px;">  
      <form  name="form" (ngSubmit)="f.form.valid && postProduct()" #f="ngForm" novalidate>
              <div class="container">
                  <label for="nameOfMeal"><b>Name of Meal</b></label>
              <input type="text" placeholder="Enter Meal"  name="nameOfMeal" [(ngModel)]="product.title"  #title="ngModel" required>
              </div> 
              <div class="container">
                  <label for="image"><b>Image</b></label>
                  <input type="text" name="image" [(ngModel)]="product.image"  #title="ngModel" required>
              </div> 
              <div class="container">
                  <label for="Category"><b>Category</b></label>
                  <select name="Category" id="categoryContainer">
                      <option value="All Meal" selected>All Meal</option>
                      <option value="Drinks">Drinks</option> 
                      <option value="Food">Food</option>   
                  </select>
              </div>
              <div class="container">
                  <label for="Price"><b>Price</b></label>
                  <input type="text" placeholder="Enter Price" name="Price"  [(ngModel)]="product.price"  #title="ngModel" required>
              </div>     
              <button type="submit" (click)="postProduct()" >ADD</button>
    </form>
  </div>
</div>
</div>
<div class="card" style="width: 18rem;" *ngFor="let product of products">
    <img [src]="product.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <h5 class="card-title">{{product.price}}</h5>
    </div>
  </div>

  