<div class="container">
  <div class="shops-content" *ngIf="shops">
    <div class="shop-wrapper" >
      
      <a href="" *ngFor="let shop of shops" class="nav-link" routerLink="/shop-details/{{shop._id}}">
        <div class="card  col-small-4" >
        
          <img [src]="shop.image" class="card-img-top" alt="This is {{shop.username}}'s shop">
          <div class="card-body">
            <h5 class="card-title  nav-link">{{ shop.shopName }}</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </a>
      
      
    </div>
  </div>
  <div class="error-message nav-link" *ngIf="!shops">
    {{ shops }}
  </div>
</div>


