.postion-b{
  display: flex;
  align-items: end;
}
.h-100{
  width: 100px;
}

.h-30{
  height: 250px;
}
.h-60{
  height: 650px;
}

.border-r{
  border-top-left-radius:20px ;
  border-top-right-radius: 20px;

}

.bold-text{
  font-weight: 300;
}